{% extends "blog/nav-base.html" %} 

{% block titleTap %} Approve Articles {% endblock %}
{% block title %} Approve Articles{% endblock %}

{% block content %} 

  {% if articles.count == 0 %}
  <div class="alert alert-info" role="alert">
    <h5>There are no articles for approve or reject</h5>
  </div>
  {% endif %} {% for article in articles %}

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">id: {{article.id}} - {{article.title}} by {{article.written_by}}
      <span class="float-right">created {{article.created_at|date:'m-d-Y H:i'}}</span>
      
      </h5>

      <form style="display: inline" action="approve/{{article.id}}" method="GET">
        <button class="btn btn-primary" href="#" class="card-link">
          Approve
        </button>
      </form>
      <form style="display: inline" action="reject/{{article.id}}">
        <button class="btn btn-danger" href="#" class="card-link">Reject</button>
      </form>

    </div>
  </div>
  {% endfor %}

{% endblock %}
