{% extends "blog/nav-base.html" %}

{% block title %}
  Dashboard
{% endblock %}

{% block content %}

<div class="card">
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th>Writer</th>
          <th>Total Articles Written</th>
          <th>Total Articles Written Last 30</th>
        </tr>
      </thead>
      <tbody>
        {%for a in writer_info%}
        <tr>
          <td>{{a.written_by}}</td>
          <td>{{a.total}}</td>
          <td>{{a.last_30_days}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
